In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

# use it for the last question (27)
import itertools as it

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
706,tt0482603,37000000,63800345,Space Chimps,Andy Samberg|Cheryl Hines|Jeff Daniels|Stanley...,Kirk De Micco,"Houston, we have a problem!",Circus monkey Ham III works in a circus where ...,81,Animation|Family,Starz Media|Starz Animation|Odyssey Entertainm...,7/17/2008,5.1,2008
986,tt0790724,60000000,218340595,Jack Reacher,Tom Cruise|Rosamund Pike|Richard Jenkins|David...,Christopher McQuarrie,The Law Has Limits. He Does Not.,"In an innocent heartland city, five are shot d...",130,Crime|Drama|Thriller,Paramount Pictures|Mutual Film Company|Skydanc...,12/20/2012,6.2,2012
583,tt0132245,94000000,54744738,Driven,Kip Pardue|Robert Sean Leonard|Til Schweiger|E...,Renny Harlin,Get ready for the race of your life.,Talented rookie race-car driver Jimmy Bly has ...,116,Action,Epsilon Motion Pictures|Franchise Pictures|Tra...,4/27/2001,4.8,2001
130,tt2692250,127000000,349424282,Night at the Museum: Secret of the Tomb,Ben Stiller|Rami Malek|Rebel Wilson|Robin Will...,Shawn Levy,One Final Night to Save the Day.,When the magic powers of The Tablet of Ahkmenr...,97,Adventure|Comedy|Fantasy|Family,Twentieth Century Fox Film Corporation|1492 Pi...,12/17/2014,6.1,2014
360,tt1095174,8000000,29010817,New in Town,RenÃ©e Zellweger|Harry Connick Jr.|J.K. Simmon...,Jonas Elmer,She's an executive on the move. But her career...,Lucy Hill is an ambitious up-and-coming execut...,97,Comedy|Romance,Lionsgate|Edmonds Entertainment Group (EEG)|Ep...,1/30/2009,5.3,2009

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
def build_dict(field):
    """Build the dictionary where the key of this dictionary is field 
    and the value of this dictionary is counts for that field.
    Use this procedure for 11 question. 
    Also it could be used for 12, 14, 16, 17 and 23 questions.
    """
    lst = field.split('|')
    for st in lst:
        count_dict.setdefault(st, 0)
        count_dict[st] += 1

    return None


def build_pairs_list(lst):
    """Build the list of all possible actors pairs. Pre-sort the list
    to be sure that pairs from different records will be the same order.
    Use this procedure for 27 question.
    """
    lst.sort()
    for i, st1 in enumerate(lst):
        for st2 in lst[i + 1 :]:
            if st1 != st2:
                pairs_list.append(st1 + ', ' + st2)

    return None


answers = {}  # init empty dictionary for answers

# the time given in the dataset is in string format.
# So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])

# add new column in our DataFrame
data['profit'] = data['revenue'] - data['budget']

rus_month = {
    1: 'Январь',
    2: 'Февраль',
    3: 'Март',
    4: 'Апрель',
    5: 'Май',
    6: 'Июнь',
    7: 'Июль',
    8: 'Август',
    9: 'Сентябрь',
    10: 'Октыбрь',
    11: 'Ноябрь',
    12: 'Декабрь'
}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [5]:
data[(data.budget == data.budget.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
data.sort_values(['budget'], ascending=False).head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,2007-05-19,6.8,2007,661000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [8]:
data[(data.runtime == data.runtime.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [10]:
data[(data.runtime == data.runtime.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '2. 110'

In [12]:
print(round(data.runtime.mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '1. 107'

In [14]:
print(round(data.runtime.median()))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = '5. Avatar (tt0499549)'

In [16]:
data[(data.profit == data.profit.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = '5. he Lone Ranger (tt1210819)'

In [18]:
data[(data.profit == data.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1. 1478'

In [20]:
data[(data.profit > 0)].imdb_id.count()

1478

In [21]:
# another solution
data.query('revenue > budget').imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [23]:
df = data.query('release_year == 2008').copy()
df[(df.revenue == df.revenue.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [25]:
df = data[data.release_year.isin([2012, 2013, 2014])].copy()
df[(df.profit == df.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [26]:
# another solution
df = data.query('release_year>2011 & release_year<2015').copy()
df[(df.profit == df.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [30]:
answers['11'] = '3. Drama'

In [28]:
ser = data['genres'].copy()
count_dict = dict()
# Build our dictionary in build_dict. This procedure  
# is in "data pre-processing" section above.
ser.apply(build_dict) 
# Convert our dictionary in Series and sort this object by value.
pd.Series(data=count_dict).sort_values(ascending=False).head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

In [29]:
# this version uses only build-in features of pandas
ser = data['genres'].copy()
ser = ser.str.split('|')
ser.explode().value_counts().head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = '1. Drama'

In [31]:
ser = data.query('profit > 0')['genres'].copy()
ser = ser.str.split('|')
ser.explode().value_counts().head()

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [34]:
answers['13'] = '5. Peter Jackson'

In [33]:
df = data[['director', 'revenue']].copy()
df['director'] = df.director.str.split('|')
(
    df.explode('director')
    .groupby('director')
    .revenue.sum()
    .sort_values(ascending=False)
    .head()
)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [36]:
answers['14'] = '3. Robert Rodriguez'

In [35]:
ser = data[data.genres.str.contains('Action')]['director'].copy()
ser = ser.str.split('|')
ser.explode().value_counts().head()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [38]:
answers['15'] = '3. Chris Hemsworth'

In [37]:
df = data.query('release_year == 2012')[['cast', 'revenue']].copy()
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
df.groupby('cast').revenue.sum().sort_values(ascending=False).head()

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [40]:
answers['16'] = '3. Matt Damon'

In [39]:
ser = data.query('budget > budget.mean()')['cast'].copy()
ser = ser.str.split('|')
ser.explode().value_counts().head()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Tom Cruise        15
Eddie Murphy      15
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [42]:
answers['17'] = '2. Action'

In [41]:
ser = data[data.cast.str.contains('Nicolas Cage')]['genres'].copy()
ser = ser.str.split('|')
ser.explode().value_counts().head()

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [43]:
df = data[data.production_companies.str.contains('Paramount Pictures')].copy()
df[['imdb_id', 'original_title', 'profit']].sort_values(['profit']).head()

        imdb_id        original_title    profit
925   tt0267626  K-19: The Widowmaker -64831034
1123  tt0300556              Timeline -60519261
1722  tt0435705                  Next -51788987
1623  tt0375173                 Alfie -46604061
1631  tt0315297               Twisted -24805000

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [46]:
answers['19'] = '5. 2015'

In [45]:
( 
    data.groupby(['release_year'])
    .revenue.sum()
    .sort_values(ascending=False)
    .head()
)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [48]:
answers['20'] = '1. 2014'

In [47]:
(
    data[data.production_companies.str.contains('Warner Bros')]
    .groupby(['release_year'])
    .profit.sum()
    .sort_values(ascending=False)
    .head()
)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [50]:
answers['21'] = '4. Сентябрь'

In [49]:
(
    data.groupby(data.release_date.dt.month_name())
    .imdb_id.count()
    .sort_values(ascending=False)
)

release_date
September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: imdb_id, dtype: int64

In [51]:
# another solution with russian months
data.release_date.dt.month.map(rus_month).value_counts()

Сентябрь    227
Декабрь     190
Октыбрь     186
Август      161
Март        156
Апрель      149
Июнь        147
Ноябрь      146
Июль        142
Май         140
Февраль     135
Январь      110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [53]:
answers['22'] = '2. 450'

In [52]:
data[data.release_date.dt.month.isin([6, 7, 8])].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [55]:
answers['23'] = '5. Peter Jackson'

In [54]:
ser = data[data.release_date.dt.month.isin([12, 1, 2])]['director'].copy()
ser = ser.str.split('|')
ser.explode().value_counts().head()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Shawn Levy           4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [57]:
answers['24'] = '5. Four By Two Productions'

In [56]:
df = data[['production_companies', 'original_title']].copy()
df['title_length'] = df.original_title.str.len()
df['production_companies'] = df.production_companies.str.split('|')
(
    df.explode('production_companies')
    .groupby('production_companies')
    .title_length.mean()
    .sort_values(ascending=False)
    .head()
)

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
answers['25'] = '3. Midnight Picture Show'

In [58]:
df = data[['production_companies', 'overview']].copy()
df['overview_words'] = df.overview.apply(lambda s: len(str(s).split()))
df['production_companies'] = df.production_companies.str.split('|')
(
    df.explode('production_companies')
    .groupby('production_companies')
    .overview_words.mean()
    .sort_values(ascending=False)
    .head()
)

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      159.0
Brookwell-McNamara Entertainment    156.0
Name: overview_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [61]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [60]:
n99 = np.percentile(data.vote_average.to_numpy(), 99)
(
    data[(data.vote_average > n99)][
        ['original_title', 'vote_average']
    ].sort_values('vote_average', ascending=False)
)

                                     original_title  vote_average
599                                 The Dark Knight           8.1
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
119                         Guardians of the Galaxy           7.9
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [63]:
answers['27'] = '5. Daniel Radcliffe, Rupert Grint'

In [62]:
ser = data['cast'].copy()
pairs_list = list()
ser.str.split('|').apply(build_pairs_list)
pd.Series(data=pairs_list).value_counts(ascending=False).head()

Daniel Radcliffe, Emma Watson        8
Emma Watson, Rupert Grint            8
Daniel Radcliffe, Rupert Grint       8
Ben Stiller, Owen Wilson             6
Helena Bonham Carter, Johnny Depp    6
dtype: int64

ВАРИАНТ 2

In [64]:
ser = data['cast'].str.split('|').copy()
ser = ser.apply(lambda lst: list(it.combinations(sorted(lst), 2)))
ser.explode().value_counts().head()

(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Ben Stiller, Owen Wilson)             6
(Helena Bonham Carter, Johnny Depp)    6
Name: cast, dtype: int64

# Submission

In [65]:
# display all answers
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. he Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [66]:
# just to be sure that miss nothing)
len(answers)

27